@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */
}

button:focus {
  outline: 0;
}

.appContainer {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #30404d, #232a30);
}

.popoverButtonContainer {
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  display: flex;
  height: 100%;
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.paragraphPadding {
  padding-bottom: 60px;
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
