@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */
}

button:focus button:active {
  outline: 0;
  color: red;
}

.center {
  margin: 0 auto;
}

.appContainer {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #30404d, #232a30);
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row {
  margin: 10px;
}

.boardContainer {
  background-color: orange;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
}

.popoverButtonContainer {
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  display: flex;
  height: 100%;
  width: 80%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.paragraphPadding {
  padding-bottom: 60px;
}

.game {
  background-color: #e4e4e4;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.game-board {
  padding: 30px;
  margin: 10px;
}

.game-info {
  background-color: red;
  align-items: flex-start;
  padding: 20px;
}

.winningSquare {
  background-color: greenyellow;
}

.square {
  background-color: white;
  color: black;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 1em;
}

.statusStyle {
  margin-bottom: 10px;
}
